@inject IJSRuntime JS

<div class="modal-backdrop fade @(Active ? "show" : "")" style="display: @(Active ? "block" : "none")"></div>
<div class="modal @CssClass" tabindex="-1" role="dialog" style="display: @(Active ? "block" : "none"); position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 1050;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header background-color-primary">
                <h5 class="modal-title">@Title</h5>
                <button type="button" class="btn-close" aria-label="Close" @onclick="Close"></button>
            </div>
            <div class="modal-body">
                @ChildContent
            </div>
            <div class="modal-footer" style="margin-left: auto; margin-right: auto;">
                <div>
                    <button type="button" class="btn background-color-primary" @onclick="OnButtonClickAccept">Aceptar</button>
                    <button type="button" class="btn btn-secondary" @onclick="Close">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter] public string Title { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public string CssClass { get; set; } = "";
    [Parameter] public bool Active { get; set; } = false;
    [Parameter] public Action OnButtonClickAccept { get; set; }
    [Parameter] public Action Close { get; set; }

}
